body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #FFFFFF;
  color: #1d1d1d;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 400;
  line-height: 1.2;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input, button, textarea {
  outline: none;
  border: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin: 16px 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  transition: color .3s ease;
}

a:hover {
  color: #000877ee;
}

ul li {
  padding: 0;
  list-style-type: none;
}