@import "tailwindcss";

@layer base {
  body {
    height: 100vh;
    color: var(--color-gray-950);
    background-color: var(--color-white);
    font-size: 16px;
    font-family: var(--font-mono);
    font-weight: 400;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
  }
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .app {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  input, textarea {
    outline: none;
  }

  /* ... */
}

@theme {
  --font-display: "your_font", "sans-serif";

  /* breakpoints */
  --breakpoint-3xl: 120rem;

  /* colors */
  --color-your: #baeabd

  /* ... */
}

@theme extend {
  --font-family-display: Poppins, sans-serif; 
}

/* your custom utilities */
@utility container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}