@import "tailwindcss";

@layer base {
  :root {
    --background: oklch(100% 0.00011 271.152);
    --foreground: oklch(24.354% 0.00003 271.152);
    --card: oklch(100% 0.00011 271.152);
    --card-foreground: oklch(13.987% 0.04474 4.477);
    --primary: oklch(49.466% 0.17871 11.472);
    --primary-foreground: oklch(96.586% 0.01803 0.039);
    --muted: oklch(96.492% 0.00898 359.427);
    --muted-foreground: oklch(54.646% 0.05218 1.982);
    --border: oklch(92.477% 0.01577 2.308);
  }

  .dark {
    --background: oklch(6.581% 0.02886 338.017);
    --foreground: oklch(94.912% 0.00011 271.152);
    --card: oklch(12.5% 0.01 340);
    --card-foreground: oklch(94.912% 0.00011 271.152);
    --primary: oklch(49.466% 0.17871 11.472);
    --primary-foreground: oklch(12.284% 0.00975 359.749);
    --muted: oklch(20% 0.02 260);
    --muted-foreground: oklch(74.439% 0.03677 0.02);
    --border: oklch(17.839% 0.01242 359.392);
  }

  body {
    height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-mono);
    font-weight: 400;
  }
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .app {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  input, textarea {
    outline: none;
  }

  /* ... */
}

@theme {
  --font-family-display: Poppins, sans-serif; 

  /* breakpoints */
  --breakpoint-3xl: 120rem;

  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-border: var(--border);

  /* ... */
}

/* your custom utilities */
@utility container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}